/* Neonette modifications that are Krisp-specific so that the mainstream Neonette deployment doesn't get bloated */
body{
	border: outset;
}

i{
	color: #00FF00;
	text-shadow: 1px 1px #00db00;
}

/* This is only used by the Index/Apex site */
.buttonBar{
	display: flex;
	flex-direction: row;
	justify-content: center;
	border: dashed;
}

.button{
	padding-left: 10px;
	padding-right: 10px;
	max-width: 400%;
	height: auto;
}

